:root {
    color-scheme: dark;
    --primary-hue: 256;
    /*--primary-hue: 270;*/
    --secondary-hue: calc(var(--primary-hue) + 20);
    --tertiary-hue: calc(var(--primary-hue) + 40);

    --lightness: 0.56;
    --chroma: 0.18;
    /*--chroma: 0.2;*/

    --primary-color: oklch(var(--lightness) var(--chroma) var(--primary-hue) / 1);

    --primary-50: color-mix(in oklch, var(--primary-color), white 50%);
    --primary-100: color-mix(in oklch, var(--primary-color), white 40%);
    --primary-200: color-mix(in oklch, var(--primary-color), white 30%);
    --primary-300: color-mix(in oklch, var(--primary-color), white 20%);
    --primary-400: color-mix(in oklch, var(--primary-color), white 10%);
    --primary-500: var(--primary-color);
    --primary-600: color-mix(in oklch, var(--primary-color), black 10%);
    --primary-700: color-mix(in oklch, var(--primary-color), black 20%);
    --primary-800: color-mix(in oklch, var(--primary-color), black 30%);
    --primary-900: color-mix(in oklch, var(--primary-color), black 40%);
    --primary-950: color-mix(in oklch, var(--primary-color), black 50%);

    --secondary-color: oklch(var(--lightness) var(--chroma) var(--secondary-hue) / 1);

    --secondary-50: color-mix(in oklch, var(--secondary-color), white 50%);
    --secondary-100: color-mix(in oklch, var(--secondary-color), white 40%);
    --secondary-200: color-mix(in oklch, var(--secondary-color), white 30%);
    --secondary-300: color-mix(in oklch, var(--secondary-color), white 20%);
    --secondary-400: color-mix(in oklch, var(--secondary-color), white 10%);
    --secondary-500: var(--secondary-color);
    --secondary-600: color-mix(in oklch, var(--secondary-color), black 10%);
    --secondary-700: color-mix(in oklch, var(--secondary-color), black 20%);
    --secondary-800: color-mix(in oklch, var(--secondary-color), black 30%);
    --secondary-900: color-mix(in oklch, var(--secondary-color), black 40%);
    --secondary-950: color-mix(in oklch, var(--secondary-color), black 50%);

    --tertiary-color: oklch(var(--lightness) var(--chroma) var(--tertiary-hue) / 1);

    --tertiary-50: color-mix(in oklch, var(--tertiary-color), white 50%);
    --tertiary-100: color-mix(in oklch, var(--tertiary-color), white 40%);
    --tertiary-200: color-mix(in oklch, var(--tertiary-color), white 30%);
    --tertiary-300: color-mix(in oklch, var(--tertiary-color), white 20%);
    --tertiary-400: color-mix(in oklch, var(--tertiary-color), white 10%);
    --tertiary-500: var(--tertiary-color);
    --tertiary-600: color-mix(in oklch, var(--tertiary-color), black 10%);
    --tertiary-700: color-mix(in oklch, var(--tertiary-color), black 20%);
    --tertiary-800: color-mix(in oklch, var(--tertiary-color), black 30%);
    --tertiary-900: color-mix(in oklch, var(--tertiary-color), black 40%);
    --tertiary-950: color-mix(in oklch, var(--tertiary-color), black 50%);

    /*--phi: calc((1 + sqrt(5)) / 2);*/
    /*--step: calc(pow(var(--phi), 1/4) - 1);*/

    /*--primary-50: oklch(from var(--primary-color) calc(l * (1 + 5 * var(--step))) c h);*/
    /*--primary-100: oklch(from var(--primary-color) calc(l * (1 + 4 * var(--step))) c h);*/
    /*--primary-200: oklch(from var(--primary-color) calc(l * (1 + 3 * var(--step))) c h);*/
    /*--primary-300: oklch(from var(--primary-color) calc(l * (1 + 2 * var(--step))) c h);*/
    /*--primary-400: oklch(from var(--primary-color) calc(l * (1 + var(--step))) c h);*/
    /*--primary-500: var(--primary-color);*/
    /*--primary-600: oklch(from var(--primary-color) calc(l * (1 - var(--step))) c h);*/
    /*--primary-700: oklch(from var(--primary-color) calc(l * (1 - 2 * var(--step))) c h);*/
    /*--primary-800: oklch(from var(--primary-color) calc(l * (1 - 3 * var(--step))) c h);*/
    /*--primary-900: oklch(from var(--primary-color) calc(l * (1 - 4 * var(--step))) c h);*/
    /*--primary-950: oklch(from var(--primary-color) calc(l * (1 - 5 * var(--step))) c h);*/

    --neutral-50: oklch(0.9 0.005 var(--secondary-hue));
    --neutral-100: oklch(0.82 0.005 var(--secondary-hue));
    --neutral-200: oklch(0.74 0.005 var(--secondary-hue));
    --neutral-300: oklch(0.66 0.005 var(--secondary-hue));
    --neutral-400: oklch(0.58 0.005 var(--secondary-hue));
    --neutral-500: oklch(0.5 0.005 var(--secondary-hue));
    --neutral-600: oklch(0.42 0.005 var(--secondary-hue));
    --neutral-700: oklch(0.34 0.005 var(--secondary-hue));
    --neutral-800: oklch(0.26 0.005 var(--secondary-hue));
    --neutral-900: oklch(0.18 0.005 var(--secondary-hue));
    --neutral-950: oklch(0.1 0.005 var(--secondary-hue));

    --secondary-neutral-50: oklch(0.9 0.05 var(--secondary-hue));
    --secondary-neutral-100: oklch(0.82 0.05 var(--secondary-hue));
    --secondary-neutral-200: oklch(0.74 0.05 var(--secondary-hue));
    --secondary-neutral-300: oklch(0.66 0.05 var(--secondary-hue));
    --secondary-neutral-400: oklch(0.58 0.05 var(--secondary-hue));
    --secondary-neutral-500: oklch(0.5 0.05 var(--secondary-hue));
    --secondary-neutral-600: oklch(0.42 0.05 var(--secondary-hue));
    --secondary-neutral-700: oklch(0.34 0.05 var(--secondary-hue));
    --secondary-neutral-800: oklch(0.26 0.05 var(--secondary-hue));
    --secondary-neutral-900: oklch(0.18 0.05 var(--secondary-hue));
    --secondary-neutral-950: oklch(0.1 0.05 var(--secondary-hue));

    --background: var(--neutral-950);
    --foreground: var(--neutral-50);
    --muted: var(--neutral-900);
    --muted-foreground: var(--neutral-200);

    --border: var(--neutral-800);

    color: var(--foreground);
    background: var(--background);
}

@property --primary-hue {
    syntax: "<number> | <angle>";
    inherits: false;
    initial-value: 0;
}
@property --secondary-hue {
    syntax: "<number> | <angle>";
    inherits: false;
    initial-value: 0;
}
@property --tertiary-hue {
    syntax: "<number> | <angle>";
    inherits: false;
    initial-value: 0;
}

@property --lightness {
    syntax: "<number> | <percentage>";
    inherits: false;
    initial-value: 0;
}
@property --chroma {
    syntax: "<number> | <percentage>";
    inherits: false;
    initial-value: 0;
}