@import "tailwindcss";

@layer layout, typography, colors;

@import "./layout.css" layer(layout);
@import "./typography.css" layer(typography);
@import "./colors.css" layer(colors);
@import "./viewport.css";

*, *::before, *::after {
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*background-color: oklch(0.5 0.2 240 / 0.2);*/
}

svg, svg * {
    shape-rendering: geometricPrecision;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    margin-block: 0;
}

::selection {
    color: var(--secondary-neutral-100);
    background: var(--secondary-950);
}

@property --i {
    syntax: "<number> | auto";
    inherits: false;
    initial-value: auto;
}

@property --gradient-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

@property --gradient-progress {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 0%;
}
@property --polar-angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}
@property --polar-radius {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

button {
    cursor: pointer;
    border: none;
}

@property --gradient-color-1 {
    syntax: "<color>";
    inherits: true;
    initial-value: currentColor;
}
@property --gradient-color-2 {
    syntax: "<color>";
    inherits: true;
    initial-value: currentColor;
}

.email-link {
    cursor: pointer;
    text-decoration: none;
    --gradient-color-1: currentColor;
    --gradient-color-2: currentColor;
    transition-property: --gradient-color-1, --gradient-color-2;

    &:hover, &:focus-visible {
        --gradient-color-1: var(--primary-500);
        --gradient-color-2: var(--tertiary-500);
        path {
            d: var(--hover-path);
        }
    }
}
.contact-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 1rem;

    .links {
        display: flex;
        gap: inherit;
        .link {
            color: inherit;
            --gradient-color-1: currentColor;
            --gradient-color-2: currentColor;
            transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-property: --gradient-color-1, --gradient-color-2;
        }
        .link:hover, .link:focus-visible {
            --gradient-color-1: var(--primary-500);
            --gradient-color-2: var(--secondary-500);
        }
    }
}

.background-gradients {
    pointer-events: none;
    &, & .gradient-element {
        position: absolute;
        inset: 0;
    }
    .gradient-element {
        filter: blur(8px);
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(calc(-1 * var(--shift)));
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(var(--shift));
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.slide-in-children {
    --min-delay: 0.3s;
    --stagger: 0.1s;
    --duration: 0.6s;
    --shift: 1.5rem;
    .slide-down, .slide-up {
        animation: var(--duration) calc(var(--min-delay) + var(--i) * var(--stagger)) ease-out both;
    }
    .slide-down {
        animation-name: slide-down;
    }
    .slide-up {
        animation-name: slide-up;
    }
}