@import "tailwindcss";

@layer layout, typography, colors;

@import "./layout.css" layer(layout);
@import "./typography.css" layer(typography);
@import "./colors.css" layer(colors);
@import "./viewport.css";

*, *::before, *::after {
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*background-color: oklch(0.5 0.2 240 / 0.2);*/
}

svg, svg * {
    shape-rendering: geometricPrecision;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    margin-block: 0;
}

::selection {
    color: var(--secondary-neutral-100);
    background: var(--secondary-950);
}

@property --i {
    syntax: "<number> | auto";
    inherits: false;
    initial-value: auto;
}

@property --gradient-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

@property --gradient-progress {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 0%;
}
@property --polar-angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}
@property --polar-radius {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

button {
    cursor: pointer;
    border: none;
}

@property --gradient-color-1 {
    syntax: "<color>";
    inherits: true;
    initial-value: currentColor;
}
@property --gradient-color-2 {
    syntax: "<color>";
    inherits: true;
    initial-value: currentColor;
}

.email-link {
    cursor: pointer;
    text-decoration: none;
    --gradient-color-1: currentColor;
    --gradient-color-2: currentColor;
    transition-property: --gradient-color-1, --gradient-color-2;

    &:hover, &:focus-visible {
        --gradient-color-1: var(--primary-500);
        --gradient-color-2: var(--tertiary-500);
        path {
            d: var(--hover-path);
        }
    }
}
.contact-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 1rem;

    .links {
        display: flex;
        gap: inherit;
        .link {
            color: inherit;
            --gradient-color-1: currentColor;
            --gradient-color-2: currentColor;
            transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-property: --gradient-color-1, --gradient-color-2;
        }
        .link:hover, .link:focus-visible {
            --gradient-color-1: var(--primary-500);
            --gradient-color-2: var(--secondary-500);
        }
    }
}

.progressive-blur-gradient {
    position: absolute;
    inset: auto 0 0 0;
    width: min(100vw, var(--page-max-width));
    height: 16rem;
    --remaining-width: calc(100vw - min(100vw, var(--page-max-width)));
    --remaining-height: calc(100vh - min(100vh, var(--page-max-width) * 2 / 3));
    --max-blur-amount: calc(1px * pow(2, var(--layers) + 2));
    margin-inline: auto;
    isolation: isolate;
    /*&::before {*/
    /*    content: "";*/
    /*    position: absolute;*/
    /*    inset: 0 0 0 0;*/
    /*    z-index: 0;*/
    /*    background: linear-gradient(to top, var(--primary-color), var(--secondary-color) 25%, var(--tertiary-color));*/
    /*    mask: linear-gradient(to bottom, transparent, rgb(0 0 0 / 0.5));*/
    /*}*/
    > .blur-filter {
        --blur-amount: calc(1px * pow(2, var(--i) + 2));
        --progression-step: 12.5%;
        position: absolute;
        inset: clamp(-0.5 * var(--remaining-width), -64px, 0px) clamp(-0.5 * var(--remaining-width), -2 * var(--max-blur-amount), 0px) 0;
        z-index: 1;
        backdrop-filter: blur(var(--blur-amount));
        mask: linear-gradient(
            to bottom,
            transparent calc(var(--i) * var(--progression-step)),
            black calc((var(--i) + 1) * var(--progression-step)),
            black calc((var(--i) + 2) * var(--progression-step)),
            transparent calc((var(--i) + 3) * var(--progression-step))
        );
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        filter: blur(var(--blur));
        transform: translateY(calc(-1 * var(--slide-offset)));
    }
    to {
        opacity: 1;
        filter: none;
        transform: none;
    }
}
@keyframes slide-up {
    from {
        opacity: 0;
        filter: blur(var(--blur));
        transform: translateY(var(--slide-offset));
    }
    to {
        opacity: 1;
        filter: none;
        transform: none;
    }
}
.slide-in-children {
    --min-delay: 0.3s;
    --stagger: 0.12s;
    --duration: 0.6s;
    --slide-offset: 1.25rem;
    --blur: 4px;
    .slide-down, .slide-up {
        animation: var(--duration) calc(var(--min-delay) + var(--i) * var(--stagger)) cubic-bezier(0.39,0.57,0.56,1) backwards;
    }
    .slide-down {
        animation-name: slide-down;
    }
    .slide-up {
        animation-name: slide-up;
    }
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fade-in 0.6s 1.2s ease-out both;
}