@tailwind base;
@tailwind components;
@tailwind utilities;
@import "/app/theme/color-variables.scss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary-50: #{$primary-50};
    --primary-100: #{$primary-100};
    --primary-200: #{$primary-200};
    --primary-300: #{$primary-300};
    --primary-400: #{$primary-400};
    --primary-500: #{$primary-500};
    --primary-600: #{$primary-600};
    --primary-700: #{$primary-700};
    --primary-800: #{$primary-800};
    --primary-900: #{$primary-900};
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #fafafa;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.case-responsive-container {
    width: 100%;
    max-width: 1600px;
    /* You can adjust the maximum width based on your design */
    margin-left: auto;
    /* Center the container */
    margin-right: auto;
    padding-inline: 80px;

    @media only screen and (min-width: 1920px) and (max-width: 2560px) {
        padding-inline: 80px;
    }

    @media only screen and (min-width: 1440px) and (max-width: 1919px) {
        padding-inline: 80px;
    }

    @media only screen and (min-width: 1280px) and (max-width: 1441px) {
        padding-inline: 50px;
    }

    @media only screen and (min-width: 767px) and (max-width: 1279px) {
        padding-inline: 30px;
    }

    @media only screen and (min-width: 100px) and (max-width: 767px) {
        padding-inline: 30px;
    }
}